.user-portfolio {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
.empty-portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .empty-portfolio-message {
    margin: 20px;
    font-size: $font-up-2;
    max-width: 500px;
    text-align: center;
  }
}

.user-card {
  .portfolio-link {
    min-width: 10em;
    width: 100%;
  }
}